@using MvcProject.Models.Entity
@model List<Categories>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    <tbody>
        @foreach (var category in Model)
        {
        <tr>
            <td>@category.CategoryID</td>
            <td>@category.CategoryName</td>
            <td> <a href="/Category/Delete/@category.CategoryID" class="btn btn-danger">Delete</a></td>
            <td> <a href="/Category/GetCategory/@category.CategoryID" class="btn btn-success">Update</a></td>
        </tr>
        }
    </tbody>
</table>

<a href="/Category/NewCategory" class="btn btn-primary">Add New Category</a>
