@model MvcProject.Models.Entity.Sales
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">
    Make Sales
</button>

<div class="modal" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Sales Screen</h2>
            </div>
            <form method="post" action="/Sales/NewSales">
                <div class="modal-body">
                    <label>Ürün Adı</label>
                    @Html.TextBoxFor(m => m.Product, new { @class = "form-control" })
                    <br />
                    <label>Customer Name Lastname</label>
                    @Html.TextBoxFor(m => m.Customer, new { @class = "form-control" })
                    <br />
                    <label>Total</label>
                    @Html.TextBoxFor(m => m.Total, new { @class = "form-control" })
                    <br />
                    <label>Price</label>
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                    <br />
                    <button class="btn btn-info">Make Sales</button>
                </div>
            </form>
        </div>
    </div>
</div>

