@using MvcProject.Models.Entity
@model List<Customers>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Customer ID</th>
        <th>Customer Name</th>
        <th>Customer Lastname</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Alert</th>
    </tr>

    <tbody>
        @foreach (var customer in Model)
        {
        <tr>
            <td>@customer.CustomerID</td>
            <td>@customer.CustomerName</td>
            <td>@customer.CustomerLastname</td>
            <td> <a href="/Customer/Delete/@customer.CustomerID" class="btn btn-danger">Delete</a></td>
            <td> <a href="/Customer/GetCustomer/@customer.CustomerID" class="btn btn-success">Update</a></td>
            <td>@Html.ActionLink("Delete", "Delete", new {id = customer.CustomerID}, new { @class="btn btn-warning" , onclick="return confirm('Emin misiniz?')"})</td>
        </tr>
        }
    </tbody>
</table>

<a href="/Customer/NewCustomer" class="btn btn-primary">Add New Customer</a>


