@model MvcProject.Models.Entity.Customers
@{
    ViewBag.Title = "NewCustomer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Customer Name</label>
        @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CustomerName, "", new { @style = "color:blue" })
    </div>
    <div>
        <label>Customer Lastname</label>
        <input type="text" class="form-control" name="CustomerLastname" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="addCustomer">Add Customer</button>
    </div>
    <script>
        $("#addCustomer").click(function () {
            alert("Müşteri Ekleme İşlemi Yapıldı!");
        });

    </script>
</form>
