
@{
    ViewBag.Title = "NewCustomer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Customer Name</label>
        <input type="text" class="form-control" name="CustomerName" />
    </div>
    <div>
        <label>Customer Lastname</label>
        <input type="text" class="form-control" name="CustomerLastname" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Add Customer</button>
    </div>

</form>
