@model MvcProject.Models.Entity.Products

@{
    ViewBag.Title = "NewProduct";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Product Name</label>
        <input type="text" class="form-control" name="ProductName" required="" maxlength="30"/>
    </div>
    <div>
        <label>Marka</label>
        <input type="text" class="form-control" name="Marka" required="" />
    </div>
    <div>
        <label>Select Category</label>
        @Html.DropDownListFor(m => m.Categories.CategoryID,(List<SelectListItem>)ViewBag.value, new { @class="form-control" })
    </div>
    <div>
        <label>Price</label>
        <input type="text" class="form-control" name="Price" />
    </div>
    <div>
        <label>Stok</label>
        <input type="text" class="form-control" name="Stok" /> 
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Add Product</button>
    </div>

</form>

